In [170]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier 
from sklearn import metrics, preprocessing

In [171]:
data = pd.read_csv("train.csv")
data.drop(['attr10'], axis = 1, inplace = True)

data_test = pd.read_csv("assignment-test.csv")
data_test.drop(['attr10'], axis = 1, inplace = True)
data_test.head()

,index,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr11,attr12,attr13,attr14,attr15,attr16,attr17,attr18,attr19,attr20
0,6244,G,0,6282.0,G,1.6271,0.3549,0.5502,72.2456,33.8289,42.3084,30.9365,28.5059,0.3458,13.8845,-35.1675,6.9016,8.9565,-0.0336,-0.1100
1,6245,B,1,2810.0,B,0.7665,0.3485,0.7965,28.4511,15.7612,26.7334,16.1816,16.3325,0.4514,13.0861,16.8231,5.5721,8.5250,-0.7568,0.2687
2,6246,G,1,2890.0,B,2.3704,0.2560,0.4325,17.9884,7.8337,12.4114,6.5442,7.5113,0.9876,12.6856,13.0324,6.5266,9.4383,-0.8908,-2.7296
3,6247,B,1,3672.0,A,1.1965,0.4178,0.8091,7.0274,2.6228,5.0467,1.8964,2.1536,1.8844,13.5629,18.2967,3.4902,7.8963,2.8380,1.6473
4,6248,B,1,2836.0,E,5.5348,0.5303,1.1293,74.6653,45.1958,48.8001,43.5401,33.4348,0.4846,40.6133,58.1007,16.1188,19.0759,0.6804,0.6325

In [172]:
df = pd.DataFrame(data)

df.loc[df["attr1"]=="A", "attr1"] = 0
df.loc[df["attr1"]=="B", "attr1"] = 1
df.loc[df["attr1"]=="C", "attr1"] = 2
df.loc[df["attr1"]=="D", "attr1"] = 3
df.loc[df["attr1"]=="E", "attr1"] = 4
df.loc[df["attr1"]=="F", "attr1"] = 5
df.loc[df["attr1"]=="G", "attr1"] = 6

df.loc[df["attr4"]=="A", "attr4"] = 0
df.loc[df["attr4"]=="B", "attr4"] = 1
df.loc[df["attr4"]=="C", "attr4"] = 2
df.loc[df["attr4"]=="D", "attr4"] = 3
df.loc[df["attr4"]=="E", "attr4"] = 4
df.loc[df["attr4"]=="F", "attr4"] = 5
df.loc[df["attr4"]=="G", "attr4"] = 6
df.loc[df["attr4"]=="H", "attr4"] = 7
df.loc[df["attr4"]=="I", "attr4"] = 8
df.loc[df["attr4"]=="J", "attr4"] = 9
df.loc[df["attr4"]=="K", "attr4"] = 10
df.loc[df["attr4"]=="L", "attr4"] = 11

df.head()

,index,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr12,attr13,attr14,attr15,attr16,attr17,attr18,attr19,attr20,failure
0,0,2,1,7370.0,0,1.0765,0.3440,0.9668,12.2879,-3.2781,...,-6.7607,-4.1982,1.3114,-26.9584,592.2480,-6.8281,-17.6852,-2.4004,-2.8542,1
1,1,6,1,7311.0,8,0.9491,0.4979,0.9931,26.4671,12.5153,...,11.3881,6.6235,0.6600,27.3261,-21.2377,5.0302,13.7213,1.5718,1.5959,0
2,2,5,1,7311.0,8,1.1346,0.4562,0.9971,9.7338,9.7510,...,9.7007,6.2549,0.5155,20.7865,-41.3345,3.4430,10.2847,0.2361,0.1441,1
3,3,6,0,3663.0,0,1.4592,0.2219,0.3824,29.2791,2.0565,...,-3.0989,-3.8490,1.0678,7.1981,13.0564,2.7667,5.6007,-1.2803,-1.2512,0
4,4,6,1,6798.0,6,1.1802,0.6234,1.6704,65.4186,30.7321,...,8.7586,2.7479,0.1391,0.8644,-2.9512,0.2913,0.3255,1.2604,0.9888,1

In [173]:
columns_included = ['attr1', 'attr2', 'attr3', 'attr4', 'attr5', 'attr6', 'attr7', 'attr8', 'attr9', 'attr11', 'attr12', 'attr13', 'attr14', 'attr15', 'attr16', 'attr17', 'attr18','attr19','attr20']

#columns_included = ['attr1', 'attr2','attr3', 'attr5', 'attr6', 'attr7', 'attr8', 'attr14', 'attr18', 'attr19']
df_dataArray = df[columns_included].copy()  
dataArray = preprocessing.scale(df_dataArray.values)
target = df["failure"].tolist()

# target_names = ["0", "1"]

# dataset = {
#    "data": dataArray,
#    "target": target,
   # "feature_names": columns_included,
   # "target_names": target_names
# }

In [174]:
df_test = pd.DataFrame(data_test)

df_test.loc[df_test["attr1"]=="A", "attr1"] = 0
df_test.loc[df_test["attr1"]=="B", "attr1"] = 1
df_test.loc[df_test["attr1"]=="C", "attr1"] = 2
df_test.loc[df_test["attr1"]=="D", "attr1"] = 3
df_test.loc[df_test["attr1"]=="E", "attr1"] = 4
df_test.loc[df_test["attr1"]=="F", "attr1"] = 5
df_test.loc[df_test["attr1"]=="G", "attr1"] = 6

df_test.loc[df_test["attr4"]=="A", "attr4"] = 0
df_test.loc[df_test["attr4"]=="B", "attr4"] = 1
df_test.loc[df_test["attr4"]=="C", "attr4"] = 2
df_test.loc[df_test["attr4"]=="D", "attr4"] = 3
df_test.loc[df_test["attr4"]=="E", "attr4"] = 4
df_test.loc[df_test["attr4"]=="F", "attr4"] = 5
df_test.loc[df_test["attr4"]=="G", "attr4"] = 6
df_test.loc[df_test["attr4"]=="H", "attr4"] = 7
df_test.loc[df_test["attr4"]=="I", "attr4"] = 8
df_test.loc[df_test["attr4"]=="J", "attr4"] = 9
df_test.loc[df_test["attr4"]=="K", "attr4"] = 10
df_test.loc[df_test["attr4"]=="L", "attr4"] = 11

df_test.head()

,index,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr11,attr12,attr13,attr14,attr15,attr16,attr17,attr18,attr19,attr20
0,6244,6,0,6282.0,6,1.6271,0.3549,0.5502,72.2456,33.8289,42.3084,30.9365,28.5059,0.3458,13.8845,-35.1675,6.9016,8.9565,-0.0336,-0.1100
1,6245,1,1,2810.0,1,0.7665,0.3485,0.7965,28.4511,15.7612,26.7334,16.1816,16.3325,0.4514,13.0861,16.8231,5.5721,8.5250,-0.7568,0.2687
2,6246,6,1,2890.0,1,2.3704,0.2560,0.4325,17.9884,7.8337,12.4114,6.5442,7.5113,0.9876,12.6856,13.0324,6.5266,9.4383,-0.8908,-2.7296
3,6247,1,1,3672.0,0,1.1965,0.4178,0.8091,7.0274,2.6228,5.0467,1.8964,2.1536,1.8844,13.5629,18.2967,3.4902,7.8963,2.8380,1.6473
4,6248,1,1,2836.0,4,5.5348,0.5303,1.1293,74.6653,45.1958,48.8001,43.5401,33.4348,0.4846,40.6133,58.1007,16.1188,19.0759,0.6804,0.6325

In [175]:
adaModel = AdaBoostClassifier(n_estimators = 200, learning_rate = 1) #too long if have too many weak estimators
adaModel = adaModel.fit(dataArray,target)     
data_test_preprocessing = preprocessing.scale(df_test[columns_included].values)
prediction = adaModel.predict(data_test_preprocessing)

df_output = df_test[["index"]]
df_output2 = df_output.assign(failure = prediction)
#df_output.insert(1, "failure", prediction, True)
df_output2.to_csv("AdaBoost.csv")

df_output2.head()

   index  failure
0   6244        0
1   6245        0
2   6246        1
3   6247        1
4   6248        0